<div class="sidebar col-md-1">
    <ul>
        <br>
        <div class="sidebar-element">
            <li>
                <%= fa_icon "medkit" %>
                <%= link_to "Cases", world_data_dashboards_path %>
            </li>
        </div>
        <br>
        <div class="sidebar-element">
            <li>
                <%= fa_icon "stethoscope" %>
                <%= link_to "Vaccine", vaccination_dashboards_path %>
            </li>
        </div>
        <br>
        <div class="sidebar-element">
            <li>
                <%= fa_icon "map-o" %>
                <%= link_to "Maps", world_map_dashboards_path %>
            </li>
        </div>
        <br>
        <div class="sidebar-element">
            <li>
                <%= fa_icon "bar-chart" %>
                <%= link_to "Reports", covid_chart_dashboards_path %>
            </li>
        </div>
    </ul>
</div>